.Wrapper{
    margin:0px;
    height: 100vh;
    background-color: #161b22;
}

.heading{
    margin: 0px;
    padding: 10px;
    color: white;
}

.heading:hover{
    text-decoration: none;
}

.mainContent{
    width: 40%;
    padding: 20px;
    margin: 5vh 0 0 50%;
    transform: translate(-50%, 0);
    border: 1px solid ;
    box-shadow: 1px 1px 10px;
    border-radius: 5%;
    display: grid;
    align-items: center;
    background-color: #0d1117;
}